.item{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text{
    color: black;
    text-transform: uppercase;
    background-color: rgb(130, 156, 156);
width: 50%;
text-align: start;

}
.inputText{
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    text-transform: uppercase;
    background-color: rgb(130, 156, 156);
text-align: start;
font-size: 12px;
}

.inputText:focus{
outline: none;
color: wheat;
}



.active{
    color: black;
    background-color: rgb(92, 117, 117);
    width: 13%;
    text-align: start;

}
.id{
    color: wheat;
    background-color: rgb(66, 90, 90);
    width: 16%;
    text-align: center;
    font-size: 10px;

}