.item{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text{
    color: black;
    text-transform: uppercase;
    background-color: rgb(130, 156, 156);
width: 35%;
text-align: start;
}
.active{
    color: black;
    background-color: rgb(92, 117, 117);
    width: 35%;
    text-align: start;

}
.id{
    color: wheat;
    background-color: rgb(66, 90, 90);
    width: 30%;
    text-align: start;

}